# Python Data Structures
- Ints and floats
- Str
- Lists
- Tuples
- Dictionaries
- Files

### Ints and Floats
- Depending upon the version of python use of behaviour of ints and floats can differ, we will be using python 3.6

In [1]:
income=50000 

# #Declare a variable 
# Call up Value 
#Rs.50000 - 25 years
#Variable is specific and case sensitive

print(income)

Age= 25.5
print (Age)

50000
25.5

In [2]:
# We can know the type of the object by using the type() method
print (type(income))
print (type(Age))

<class 'int'>
<class 'float'>

In [3]:
import math

In [4]:

Income1=50001
Income2=75000

Avg = ((Income1+Income2)/2)
print(Avg)
print(type(Avg))

#Variables make code Reproducible

62500.5
<class 'float'>

In [5]:
Avg = math.floor(((Income1+Income2)/2))
Avg

62500

In [6]:
Avg = math.ceil(((Income1+Income2)/2))
Avg

62501

In [7]:
print(Avg)

62501

In [8]:
print (int(Income2/Income1))
print (type(int((Income1/Income2))))

1
<class 'int'>

# Strings and Booleans

In [9]:
Course = "Data Science with Python"
print(type(Course))

<class 'str'>

In [10]:
Learning = True
print(type(Learning))

<class 'bool'>

In [11]:
3+8

11

In [12]:
'Data' + 'Science'

'DataScience'

In [13]:
#the + operator concatenates strings together, while the * concatenates multiple copies of a string together.
sample2 = 1 * 3
sample3 = "1" * 3

print(sample2)
print(sample3)

3
111

In [14]:
#Different Types behave differents. Plus works differently on a integer vs. a string

In [51]:
try:
    print(2+4)
    print("Sumit started with income of Rs." + Income1 + ". Gradually it was increased to Rs." + Income2)
    print(4+5)
except:
    print('can only concatenate str (not "int") to str')
    print("Sumit started with income of Rs." + str(Income1) + ". Gradually it was increased to Rs." + str(Income2) + (". Great!"))
print(2+3)

6
can only concatenate str (not "int") to str
Sumit started with income of Rs.50000. Gradually it was increased to Rs.[['Sumit', 50000], ['Amit', 75000], ['Tina', 65000], ['Heena', 45000], ['Reena', 25000]]. Great!
5

In [52]:
print("Sumit started with income of Rs." + str(Income1) + ". Gradually it was increased to Rs." + str(Income2) + (". Great!"))

Sumit started with income of Rs.50000. Gradually it was increased to Rs.[['Sumit', 50000], ['Amit', 75000], ['Tina', 65000], ['Heena', 45000], ['Reena', 25000]]. Great!

In [53]:
Income = "10000"
type(Income)

str

In [54]:
NIncome = int(Income)
NIncome

10000

# Lists

In [56]:
#Income of a certain group

Income1 = 50000
Income2 = 75000
Income3 = 65000
Income4 = 45000
Income5 = 25000

Income = [Income1, Income2, Income3, Income4, Income5]
print(Income)
type(Income)

[50000, 75000, 65000, 45000, 25000]

list

In [57]:
Income = ["Sumit",50000,"Amit",75000,"Tina",65000,"Heena",45000,"Reena",25000]
Income

['Sumit', 50000, 'Amit', 75000, 'Tina', 65000, 'Heena', 45000, 'Reena', 25000]

In [58]:
#Lists can also contain Lists themselves
#Instead of putting strings between the number one can create sublists for each Income entry 

Income2 = [['Sumit',50000],
['Amit',75000],
['Tina',65000],
['Heena',45000],
['Reena',25000]]

Income2 #The main list contains 5 sub lists

[['Sumit', 50000],
 ['Amit', 75000],
 ['Tina', 65000],
 ['Heena', 45000],
 ['Reena', 25000]]

In [59]:
type(Income)
type(Income2)

list

In [60]:
# Accessing Information from a List - Use Index

Income[5] #to access Income corresponding to Tina

#Zero Based Indexing

65000

In [61]:
#Slicing using :

#[start:end]

print(Income[2:6])
print(Income[:])
print(Income[2:])
print(Income[:2])

#Income of males 
Income[1] + Income[3]

['Amit', 75000, 'Tina', 65000]
['Sumit', 50000, 'Amit', 75000, 'Tina', 65000, 'Heena', 45000, 'Reena', 25000]
['Amit', 75000, 'Tina', 65000, 'Heena', 45000, 'Reena', 25000]
['Sumit', 50000]

125000

In [62]:
#Income of females
Income[-1] + Income[-3] + Income[-5]

135000

In [63]:
Income2[2][:]  #Accessing all elements from list of list

['Tina', 65000]

In [64]:
#List Manipulations

Income[1] = 55000 #Change
Income

['Sumit', 55000, 'Amit', 75000, 'Tina', 65000, 'Heena', 45000, 'Reena', 25000]

In [65]:

Income[0:2] = ['Likhit',60000]  #Replacing elements
Income

['Likhit', 60000, 'Amit', 75000, 'Tina', 65000, 'Heena', 45000, 'Reena', 25000]

In [66]:
Income_add = Income + ['Sumit',50000] #Adding elements
Income_add

['Likhit',
 60000,
 'Amit',
 75000,
 'Tina',
 65000,
 'Heena',
 45000,
 'Reena',
 25000,
 'Sumit',
 50000]

In [67]:
del(Income_add[0:2])  #Deleting an element
Income_add

['Amit', 75000, 'Tina', 65000, 'Heena', 45000, 'Reena', 25000, 'Sumit', 50000]

In [70]:
# Create list Age
age = [11, 18, 20, 10, 9]

age_new = age
age_new

[11, 18, 20, 10, 9]

In [71]:
age_new[1] = 24
age_new

[11, 24, 20, 10, 9]

In [72]:
age   #Why is this happening?

[11, 24, 20, 10, 9]

In [73]:
age_new

[11, 24, 20, 10, 9]

In [74]:
age_final = age_new.copy()
age_final

[11, 24, 20, 10, 9]

In [75]:
age_final[1] = 32
age_final

[11, 32, 20, 10, 9]

In [76]:
age_new

[11, 24, 20, 10, 9]

In [77]:
age_final = age_new[:]
print(age_final)
age_final[1] = 32
print(age_final)
print(age_new)

[11, 24, 20, 10, 9]
[11, 32, 20, 10, 9]
[11, 24, 20, 10, 9]

In [39]:
#We can know about the methods available in the respective python classes by using the dir() method
print (dir(Income))
print (dir(Age))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
['__abs__', '__add__', '__bool__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getformat__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__int__', '__le__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__pos__', '__pow__', '__radd__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmod__', '__rmul__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__set_format__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', 'as_integer_ratio', 'conjugate', 'fromhex', 'hex', 'imag', 'is_integer', 'real']

In [78]:
#Functions in Python

Python = True

# Print out type of var
print(type(Age))

# Print out length of var
print(len(Income))

# Convert var to an integer: out2
IntPy = int(Python)
IntPy

<class 'float'>
10

1

In [79]:
# Create lists 
Age1 = [25,65,34,44]
Age2 = [10,50]

# Paste together 
Age_f = Age1 + Age2
print(Age_f)
# Sort in descending order
Age_full = sorted(Age_f) #ascending
Age_FULL = sorted(Age_f, reverse = True) # descending

# Print out full_sorted
print(Age_full)
print(Age_FULL)

[25, 65, 34, 44, 10, 50]
[10, 25, 34, 44, 50, 65]
[65, 50, 44, 34, 25, 10]

In [42]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

# Methods

In [80]:
Income.index('Heena')      #Index is a method

6

In [81]:
Word = "python"
print(Word.upper())
print(Word.replace("n","n course"))

PYTHON
python course

In [45]:
Income.replace(50000,45000)      #replace is not a method for num/int/float objects

AttributeError: 'list' object has no attribute 'replace'

In [83]:
Income.replace

AttributeError: 'list' object has no attribute 'replace'

In [84]:
Income.index(45000)

7

In [85]:
Word.index('t')

2

In [86]:
Income.append("Raina")
Income

['Likhit',
 60000,
 'Amit',
 75000,
 'Tina',
 65000,
 'Heena',
 45000,
 'Reena',
 25000,
 'Raina']

In [87]:
Sample = "Beautiful"
print(Sample.count("u"))

2

In [88]:
# Print out how often 25000 appears in Income
print(Income.count(25000))

1

In [89]:
c=range(11)
print(c)
print (list(c))

range(0, 11)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Case Study

### Strings
- Strings as iterables

In [90]:
w="Two 1234567890Shōkaku-class aircraft carriers, Shōkaku and Zuikaku, were commissioned by the Imperial Japanese Navy during World War II. They participated in the attack on Pearl Harbor, the Indian Ocean Raid, and the battles of the Coral Sea, the Eastern Solomons, and the Santa Cruz Islands. Their air groups sank two of the four fleet carriers lost by the United States Navy during the war in addition to one elderly British light carrier. Returning to Japan after the Battle of the Coral Sea to repair damage and replace lost aircraft, they missed the Battle of Midway in June 1942. After the catastrophic loss of four carriers during that battle, they formed the bulk of Japan's carrier force for the rest of the war. Shōkaku was sunk by an American submarine during the Battle of the Philippine Sea in June 1944 as the Americans invaded the Mariana Islands, and Zuikaku was sacrificed as part of a decoy force four months later in the Battle of Leyte Gulf, both with heavy loss of life. Historian Mark Peattie called them 'arguably the best aircraft carriers' of the early 1940s."

In [91]:
print (w)

Two 1234567890Shōkaku-class aircraft carriers, Shōkaku and Zuikaku, were commissioned by the Imperial Japanese Navy during World War II. They participated in the attack on Pearl Harbor, the Indian Ocean Raid, and the battles of the Coral Sea, the Eastern Solomons, and the Santa Cruz Islands. Their air groups sank two of the four fleet carriers lost by the United States Navy during the war in addition to one elderly British light carrier. Returning to Japan after the Battle of the Coral Sea to repair damage and replace lost aircraft, they missed the Battle of Midway in June 1942. After the catastrophic loss of four carriers during that battle, they formed the bulk of Japan's carrier force for the rest of the war. Shōkaku was sunk by an American submarine during the Battle of the Philippine Sea in June 1944 as the Americans invaded the Mariana Islands, and Zuikaku was sacrificed as part of a decoy force four months later in the Battle of Leyte Gulf, both with heavy loss of life. Historian Mark Peattie called them 'arguably the best aircraft carriers' of the early 1940s.

In [92]:
# All iterables can be looped through
for c in w[0:20]:
      print (c)

T
w
o

1
2
3
4
5
6
7
8
9
0
S
h
ō
k
a
k

### Looping and conditionals interlude
- Using for loops and if-else statements

In [94]:
# We can control the flow of execution of code by using conditionals such as if-else
if 2<3:#Notice that a statement is followed by a :
    print ('Is it possible?')
    
else:
    print ('Yay!!')

Is it possible?

### Case Study
- Use the assign_txt
- Count number of capital letters
- How many times has the word RSS occured?
- How many times has the word Modi occured?

In [106]:
assign_txt="Narendra Damodardas Modi (RSS RSS, R r Modi), born 17 September 1950) is the 15th and current Prime Minister of India, in office since 26 May 2014.odi, a leader of the Bharatiya Janata Party was the Chief Minister of Gujarat from 2001 to 2014 and is the Member of Parliament from Varanasi. He led the BJP in the 2014 general election, which gave the party a majority in the Lok Sabha, the first for any political party in India since 1984.As the Chief Minister of Gujarat, Modi's economic policies were praised, while his administration was also criticised for failing to significantly improve the human development in the state, and for failing to prevent the 2002 Gujarat riots. A Hindu nationalist and member of the Rashtriya Swayamsevak Sangh, Modi,remains a controversial figure domestically and internationally. Modi was born on 17 September 1950, to a family of grocers in Vadnagar, Mehsana district, Bombay State (present-day Gujarat).Modi's family belonged to the Modh-Ghanchi-Teli (oil-presser) community,hich is categorised as an Other Backward Class by the Indian government.Modi was the third of six children born to Damodardas Mulchand (1915–1989) and Heeraben Modi (b. c. 1920).As a child, Modi helped his father sell tea at the Vadnagar railway station, and later ran a tea stall with his brother near a bus terminus.Modi completed his higher secondary education in Vadnagar in 1967, where a teacher described him as an average student and a keen debater, with an interest in theatre.Modi had an early gift for rhetoric in debates, and this was noted by his teachers and students.Modi preferred playing larger-than-life characters in theatrical productions, which has influenced his political image.At age eight, Modi discovered the Rashtriya Swayamsevak Sangh (RSS), and began attending its local shakhas (training sessions). There, Modi met Lakshmanrao Inamdar, popularly known as Vakil Saheb, who inducted him as an RSS balswayamsevak (junior cadet) and became his political mentor.While Modi was training with the RSS, he also met Vasant Gajendragadkar and Nathalal Jaghda, Bharatiya Jana Sangh leaders who were founding members of the BJP's Gujarat unit in 1980.Engaged while still a child to a local girl, Jashodaben Narendrabhai Modi, Modi rejected the arranged marriage at the same time he graduated from high school.The resulting familial tensions contributed to his decision to leave home in 1967.Modi spent the ensuing two years travelling across Northern and North-eastern India, though few details of where he went have emerged.In interviews, Modi has described visiting Hindu ashrams founded by Swami Vivekananda: the Belur Math near Kolkata, followed by the Advaita Ashrama in Almora and the Ramakrishna mission in Rajkot. Modi remained only a short time at each, since he lacked the required college education."

In [100]:
print (assign_txt.count('RSS'))

5

In [101]:
print (assign_txt.count('Modi'))

20

In [102]:
type(assign_txt)

str

In [107]:
c=0
d=0
for l in assign_txt:           
    if l.isupper():
        if l == 'R':
            c = c+1
    if l.islower():
        if l =='r':
            d=d+1
      
print (c)
print (d)

10
147

### Case Study
- Use the assign_txt
- Find out the total number of lines in assign_txt (Use the split() method to create a list, assume "." to be EOL)
- Extract the years like 1950 from the text and count their occurence

In [108]:
assign_txt

"Narendra Damodardas Modi (RSS RSS, R r Modi), born 17 September 1950) is the 15th and current Prime Minister of India, in office since 26 May 2014.odi, a leader of the Bharatiya Janata Party was the Chief Minister of Gujarat from 2001 to 2014 and is the Member of Parliament from Varanasi. He led the BJP in the 2014 general election, which gave the party a majority in the Lok Sabha, the first for any political party in India since 1984.As the Chief Minister of Gujarat, Modi's economic policies were praised, while his administration was also criticised for failing to significantly improve the human development in the state, and for failing to prevent the 2002 Gujarat riots. A Hindu nationalist and member of the Rashtriya Swayamsevak Sangh, Modi,remains a controversial figure domestically and internationally. Modi was born on 17 September 1950, to a family of grocers in Vadnagar, Mehsana district, Bombay State (present-day Gujarat).Modi's family belonged to the Modh-Ghanchi-Teli (oil-presser) community,hich is categorised as an Other Backward Class by the Indian government.Modi was the third of six children born to Damodardas Mulchand (1915–1989) and Heeraben Modi (b. c. 1920).As a child, Modi helped his father sell tea at the Vadnagar railway station, and later ran a tea stall with his brother near a bus terminus.Modi completed his higher secondary education in Vadnagar in 1967, where a teacher described him as an average student and a keen debater, with an interest in theatre.Modi had an early gift for rhetoric in debates, and this was noted by his teachers and students.Modi preferred playing larger-than-life characters in theatrical productions, which has influenced his political image.At age eight, Modi discovered the Rashtriya Swayamsevak Sangh (RSS), and began attending its local shakhas (training sessions). There, Modi met Lakshmanrao Inamdar, popularly known as Vakil Saheb, who inducted him as an RSS balswayamsevak (junior cadet) and became his political mentor.While Modi was training with the RSS, he also met Vasant Gajendragadkar and Nathalal Jaghda, Bharatiya Jana Sangh leaders who were founding members of the BJP's Gujarat unit in 1980.Engaged while still a child to a local girl, Jashodaben Narendrabhai Modi, Modi rejected the arranged marriage at the same time he graduated from high school.The resulting familial tensions contributed to his decision to leave home in 1967.Modi spent the ensuing two years travelling across Northern and North-eastern India, though few details of where he went have emerged.In interviews, Modi has described visiting Hindu ashrams founded by Swami Vivekananda: the Belur Math near Kolkata, followed by the Advaita Ashrama in Almora and the Ramakrishna mission in Rajkot. Modi remained only a short time at each, since he lacked the required college education."

In [109]:
print(dir(assign_txt))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [110]:
?assign_txt.split

In [111]:
len(assign_txt.split("."))

23

In [112]:
print(assign_txt.split(" "))

['Narendra', 'Damodardas', 'Modi', '(RSS', 'RSS,', 'R', 'r', 'Modi),', 'born', '17', 'September', '1950)', 'is', 'the', '15th', 'and', 'current', 'Prime', 'Minister', 'of', 'India,', 'in', 'office', 'since', '26', 'May', '2014.odi,', 'a', 'leader', 'of', 'the', 'Bharatiya', 'Janata', 'Party', 'was', 'the', 'Chief', 'Minister', 'of', 'Gujarat', 'from', '2001', 'to', '2014', 'and', 'is', 'the', 'Member', 'of', 'Parliament', 'from', 'Varanasi.', 'He', 'led', 'the', 'BJP', 'in', 'the', '2014', 'general', 'election,', 'which', 'gave', 'the', 'party', 'a', 'majority', 'in', 'the', 'Lok', 'Sabha,', 'the', 'first', 'for', 'any', 'political', 'party', 'in', 'India', 'since', '1984.As', 'the', 'Chief', 'Minister', 'of', 'Gujarat,', "Modi's", 'economic', 'policies', 'were', 'praised,', 'while', 'his', 'administration', 'was', 'also', 'criticised', 'for', 'failing', 'to', 'significantly', 'improve', 'the', 'human', 'development', 'in', 'the', 'state,', 'and', 'for', 'failing', 'to', 'prevent', 'the', '2002', 'Gujarat', 'riots.', 'A', 'Hindu', 'nationalist', 'and', 'member', 'of', 'the', 'Rashtriya', 'Swayamsevak', 'Sangh,', 'Modi,remains', 'a', 'controversial', 'figure', 'domestically', 'and', 'internationally.', 'Modi', 'was', 'born', 'on', '17', 'September', '1950,', 'to', 'a', 'family', 'of', 'grocers', 'in', 'Vadnagar,', 'Mehsana', 'district,', 'Bombay', 'State', '(present-day', "Gujarat).Modi's", 'family', 'belonged', 'to', 'the', 'Modh-Ghanchi-Teli', '(oil-presser)', 'community,hich', 'is', 'categorised', 'as', 'an', 'Other', 'Backward', 'Class', 'by', 'the', 'Indian', 'government.Modi', 'was', 'the', 'third', 'of', 'six', 'children', 'born', 'to', 'Damodardas', 'Mulchand', '(1915–1989)', 'and', 'Heeraben', 'Modi', '(b.', 'c.', '1920).As', 'a', 'child,', 'Modi', 'helped', 'his', 'father', 'sell', 'tea', 'at', 'the', 'Vadnagar', 'railway', 'station,', 'and', 'later', 'ran', 'a', 'tea', 'stall', 'with', 'his', 'brother', 'near', 'a', 'bus', 'terminus.Modi', 'completed', 'his', 'higher', 'secondary', 'education', 'in', 'Vadnagar', 'in', '1967,', 'where', 'a', 'teacher', 'described', 'him', 'as', 'an', 'average', 'student', 'and', 'a', 'keen', 'debater,', 'with', 'an', 'interest', 'in', 'theatre.Modi', 'had', 'an', 'early', 'gift', 'for', 'rhetoric', 'in', 'debates,', 'and', 'this', 'was', 'noted', 'by', 'his', 'teachers', 'and', 'students.Modi', 'preferred', 'playing', 'larger-than-life', 'characters', 'in', 'theatrical', 'productions,', 'which', 'has', 'influenced', 'his', 'political', 'image.At', 'age', 'eight,', 'Modi', 'discovered', 'the', 'Rashtriya', 'Swayamsevak', 'Sangh', '(RSS),', 'and', 'began', 'attending', 'its', 'local', 'shakhas', '(training', 'sessions).', 'There,', 'Modi', 'met', 'Lakshmanrao', 'Inamdar,', 'popularly', 'known', 'as', 'Vakil', 'Saheb,', 'who', 'inducted', 'him', 'as', 'an', 'RSS', 'balswayamsevak', '(junior', 'cadet)', 'and', 'became', 'his', 'political', 'mentor.While', 'Modi', 'was', 'training', 'with', 'the', 'RSS,', 'he', 'also', 'met', 'Vasant', 'Gajendragadkar', 'and', 'Nathalal', 'Jaghda,', 'Bharatiya', 'Jana', 'Sangh', 'leaders', 'who', 'were', 'founding', 'members', 'of', 'the', "BJP's", 'Gujarat', 'unit', 'in', '1980.Engaged', 'while', 'still', 'a', 'child', 'to', 'a', 'local', 'girl,', 'Jashodaben', 'Narendrabhai', 'Modi,', 'Modi', 'rejected', 'the', 'arranged', 'marriage', 'at', 'the', 'same', 'time', 'he', 'graduated', 'from', 'high', 'school.The', 'resulting', 'familial', 'tensions', 'contributed', 'to', 'his', 'decision', 'to', 'leave', 'home', 'in', '1967.Modi', 'spent', 'the', 'ensuing', 'two', 'years', 'travelling', 'across', 'Northern', 'and', 'North-eastern', 'India,', 'though', 'few', 'details', 'of', 'where', 'he', 'went', 'have', 'emerged.In', 'interviews,', 'Modi', 'has', 'described', 'visiting', 'Hindu', 'ashrams', 'founded', 'by', 'Swami', 'Vivekananda:', 'the', 'Belur', 'Math', 'near', 'Kolkata,', 'followed', 'by', 'the', 'Advaita', 'Ashrama', 'in', 'Almora', 'and', 'the', 'Ramakrishna', 'mission', 'in', 'Rajkot.', 'Modi', 'remained', 'only', 'a', 'short', 'time', 'at', 'each,', 'since', 'he', 'lacked', 'the', 'required', 'college', 'education.']

In [113]:
#to find ALL THE years in the text
store = []
years =[]
for w in assign_txt.replace("."," ").replace("("," ").replace(")"," ").replace("-"," ").replace(","," ").split(" "):
            if w.isdigit():
                store.append(w)                
for y in store:
    if len(y)==4:
        years.append(y)

print  (years)

['1950', '2014', '2001', '2014', '2014', '1984', '2002', '1950', '1920', '1967', '1980', '1967']

In [114]:
len(years)

12

# List Comprehension

In [115]:
c=[2,3,4,5,6,7,8,9,10]

In [116]:
#Suppose we want to create a list containing the squares in the list c
#Method 1
s=[]
for num in c:
    s.append(num**2) #square is written as **
print(s)

[4, 9, 16, 25, 36, 49, 64, 81, 100]

In [117]:
#Method 2
[x**2 for x in c ] #Very concise way

[4, 9, 16, 25, 36, 49, 64, 81, 100]

In [118]:
Python_Structure = ['List', 'Strings','Dict','Boolean']
range(50)
Data_Science = 'Data is the new oil'
price = 'Rs.20,000'
income = 50000

In [119]:
[x+2 for x in income ]   #Why error

TypeError: 'int' object is not iterable

# Heading
## Heading1
## Heading2
- Suppose we want to create a list from a and b such that it looks like the following:
- [[1,'a'],[2,'b'],[3,'c'],[4,'d']]

In [120]:
a=[1,2,3,4,5,6,7,8]
b=['a','b','c','d','e','f','g','h']

In [121]:
[[x,y] for x in a for y in b if a.index(x)==b.index(y)]

[[1, 'a'],
 [2, 'b'],
 [3, 'c'],
 [4, 'd'],
 [5, 'e'],
 [6, 'f'],
 [7, 'g'],
 [8, 'h']]

In [122]:
pairs = []
for p in range(0,2):
    for q in range(3,5):
        pairs.append([p,q])
print(pairs)

[[0, 3], [0, 4], [1, 3], [1, 4]]

In [123]:
pairs2 = [[p,q] for p in range(0,2) for q in range(3,5)]
print(pairs2)

[[0, 3], [0, 4], [1, 3], [1, 4]]

# zip

In [2]:
# zip
a=[1,2,3,4]
b=['a','b','c','d']
zip(a,b)

In [3]:
print(list(zip(a,b)))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [4]:
( list(x) for x in zip(a,b))

[[1, 'a'], [2, 'b'], [3, 'c'], [4, 'd']]

In [127]:
x = ['P', 6, 1, 'Q', 5, 'R']           #List Comprehension - Conditions on output expression
strings = [y for y in x if type(y) == str]
print(strings)

['P', 'Q', 'R']

In [129]:
[num**2 for num in range(11) if num%2 ==0]

[0, 4, 16, 36, 64, 100]

In [132]:
print([num**2 if num%2 ==0 else 0 for num in range(10)])

[0, 0, 4, 0, 16, 0, 36, 0, 64, 0]

In [131]:
int_list = [-2, 4, 1, 6, -3]
print(x for x in int_list if x > 0)
print(list(x for x in int_list if x > 0))

<generator object <genexpr> at 0x0000025BFD8CD3C0>
[4, 1, 6]

### Lambdas, map
- We can use lambdas, map to replicate the functionality of list comprehension

In [17]:
mass=[45,55,65,76]
ht=[1.65,1.70,1.55,1.80]
bmi=map(lambda x,y:x/y**2,mass,ht)
print (bmi)
print(list(bmi))
bmi_f=filter(lambda x:x>20,list(bmi))
print (bmi_f)
print(list(bmi_f))

<map object at 0x000001A516F61DF0>
[16.528925619834713, 19.031141868512112, 27.055150884495315, 23.456790123456788]
<filter object at 0x000001A516F613A0>
[]

In [11]:
#### To see both values:- 
mass=[45,55,65,76,88]
ht=[1.65,1.70,1.55,1.80,1.96]
bmi=map(lambda x,y:x/y**2,mass,ht)
#print(list(bmi))
bmi1 = list(bmi).copy()
bmi_f=list(filter(lambda x:x<20,bmi1))
print(bmi)
print (bmi1)
print (bmi_f)
#print(list(bmi1))
#print(list(bmi_f))

<map object at 0x000001A516F61E20>
[16.528925619834713, 19.031141868512112, 27.055150884495315, 23.456790123456788, 22.907122032486466]
[16.528925619834713, 19.031141868512112]

# lambda function

In [18]:
# Define W1 as a lambda function
W1 = (lambda x, y: x * y)

# Call W1: result
result = W1('Yay', 3)

# Print result
print(result)

YayYayYay

In [ ]:
nums = [2, 4, 6, 8, 10]
result = map(lambda a: a ** 2, nums)

In [ ]:
# Filter
Cities = ['Delhi', 'Pune', 'Chennai', 'Kolkata']

# Use filter() to apply a lambda function over fellowship: result
result = filter(lambda m: len(m) > 6, Cities)

type(result)
# Convert result to a list: result_list
result_list = list(result)

# Convert result into a list and print it
print(result_list)

# Error Handling

In [36]:
# import module sys to get the type of exception
import sys

In [40]:
# Define w
def w3(x, y=1):
    """Concatenate  copies of word1 and two
    exclamation marks at the end of the string."""

    # Initialize empty strings: 
    w3 = ''
    s3 = ''

    # Add exception handling with try-except
    try:
        # Concatenate copies of word using *
        w3 = x * y
        # Concatenate '!!' 
        s3 = w3 + '!!'
    except:
        # Print error message
        #print("x argument must be a string and y argument must be an integer.")
        print(sys.exc_info())
        #print(sys.exc_info()[1])
    return s3

# Call s
#w3("Yay", 3)
w3("Yay", "Great")

(<class 'TypeError'>, TypeError("can't multiply sequence by non-int of type 'str'"), <traceback object at 0x000001A518E64240>)

''

In [42]:
# Define w
def w3(x, y=1):
    """Concatenate  copies of word1 and two
    exclamation marks at the end of the string."""

    # Initialize empty strings: 
    w3 = ''
    s3 = ''

    # Add exception handling with try-except
    try:
        # Concatenate copies of word using *
        w3 = x * y
        # Concatenate '!!' 
        s3 = w3 + '!!'
    except Exception as e:
        # Print error message
        #print("x argument must be a string and y argument must be an integer.")
        print(e.__class__)
        #print(sys.exc_info()[1])
    return s3

# Call s
#w3("Yay", 3)
w3("Yay", "Great")

<class 'TypeError'>

''

In [33]:
# Define w4
def w4(x, y=3):
    """Concatenate copies of word-x and three
    exclamation marks at the end of the string."""

    # Raise an error with raise
    #if w4 < 0:
    if y < 0:
        #raise ValueError('w4 must be greater than 0')
        raise ValueError('y must be greater than 0')
    # Concatenate  copies of word1 using *: 
    z = x * y

    # Concatenate '!!!'
    w = z + '!!!'

    # Return 
    return w

# Call w4
w4("Yay", y=-5)

ValueError: y must be greater than 0

In [45]:
# Define w
def w3(x, y=1):
    """Concatenate  copies of word1 and two
    exclamation marks at the end of the string."""

    # Initialize empty strings: 
    w3 = ''
    s3 = ''

    # Add exception handling with try-except
    try:
        # Concatenate copies of word using *
        w3 = x * y
        #w3 = x/y
        # Concatenate '!!' 
        s3 = w3 + '!!'
    except ValueError:
        # Print error message
        print("x argument must be a string and y argument must be an integer.")
    except TypeError:
        print("Type error")
    except ZeroDivisionError:
        print("Zero Division Error")
    except:
        print("something else")
    return s3

# Call s
#w3("Yay", 3)
#w3("Yay", "Great")
w3(1,0)
w3("Yay", -3)

Type error

'!!'

### Tuples
- Tuples as immutable iterables
- Tuple methods

In [ ]:
t=(1,2,3,5)
print(t)

In [ ]:
print(t[0])
print (t[1])

In [ ]:
##List
li6=[1,2,3,4]
li6[0]=0
print (li6)

In [ ]:
t[0]=0

In [ ]:
print (dir(t))

### Dictionaries
- Dictionaries as hashbles
- Extracting keys, values
- Sorting  a dictionary
- Looping through a dictionary

In [ ]:
Income = [30000,40000,25000]
name = ["Umesh", "Ramesh","Nilesh"]
in_r = name.index('Ramesh')
in_r
Income[in_r]

In [ ]:
#Dictionary - key:value pairs

Inc = {"Umesh":30000,"Ramesh":40000,"Nilesh":25000}
print(Inc)

In [ ]:
#dict_name[key]

print(Inc["Umesh"])

In [ ]:
#Print keys in Inc

print(Inc.keys())
print(Inc.values())

In [ ]:
"Nilesh" in Inc

In [ ]:
Inc["Nilesh"] = 35000
print(Inc)

In [ ]:
del(Inc["Nilesh"])

In [ ]:
print(Inc)

In [ ]:
print (dir(Inc))

In [ ]:
print (Inc.items())

In [ ]:
# Dictionary of dictionaries
Income1 = { 'Ramesh': { 'Gender':'male', 'Income':40000},
           'Ana': { 'Gender':'female', 'Income':66000 },
           'Uma': { 'Gender':'female', 'Income':20000 },
           'Umesh': { 'Gender':'male', 'Income':58000 } }


# Print out the Income of Ramesh
print(Income1['Ramesh']['Income'])

# Create sub-dictionary data
income2 = { 'Gender':'female', 'Income':30000 }

# Add data to europe under key 'italy'
Income1['Seema'] = income2

# Print
print(Income1)

In [ ]:
for x in Inc:
    print (x)

In [ ]:
for x in Inc:
    print (x, Inc[x])

In [ ]:
#List Comprehension on Dictionaries

pos_neg = {l:-l for l in range(3)}
print(pos_neg)
type(pos_neg)

### Use the assign_txt
- Find out the occurence of each word in text string (Create a list of each word in the string, loop over this list to create a dictionary of words and their occurences

In [ ]:
d={}
for w in assign_txt.split(" "):
    if w in d:
        d[w]=d[w]+1
    else:
        d[w]=1

In [ ]:
print (d)

### Files
- Reading files
- Manipulating data in file objects
- Writing out files

In [ ]:
# modules interlude
import os
os.chdir('C:/Users/Animesh.Parikshya/Documents/IIM Classes/Data sets')

In [ ]:
f=open('tweets_assignment.txt','r')
fo=f.read()
print(type(f))
print(type(fo))
f.close()

In [ ]:
f=open('write.txt','w')
for dt in fo:
    f.write(dt+'\n')
f.close()

In [ ]:
fo[0:100]

In [ ]:
with open("tweets_assignment.txt","r") as infile:
    dat=infile.read()

In [ ]:
dat[0:100]

### Assignment
- Use the file tweets_assignment.txt
- Count the total number of tweets in the file
- Extract the time stamp from the file and store it in a list

In [ ]:
## Total number of tweets
f=open('tweets_assignment.txt','r')
fo=f.read()
f.close()

In [ ]:
fo[0:100]

In [ ]:
len(fo.split("\n"))

In [ ]:
## Extract the time stamp
for line in fo.split("\n"):
    print(line.split("|")[0])