In [42]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor

In [2]:
import os
data_dir='C:/Users/Animesh.Parikshya/Documents/IIM Classes/Data sets'

In [3]:
os.chdir(data_dir)

In [6]:
superstore=pd.read_csv("sample-superstore.csv")
# encoding ='ISO-8859-1'

In [7]:
superstore.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11-08-2016,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11-08-2016,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,06-12-2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10-11-2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10-11-2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [8]:
superstore.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [26]:
superstore_encoded = superstore.copy()

In [27]:
superstore_encoded = superstore_encoded[['Row ID', 'Ship Mode',
       'Segment', 'City', 'State',
       'Postal Code', 'Region', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit']]

In [28]:
superstore_encoded.columns

Index(['Row ID', 'Ship Mode', 'Segment', 'City', 'State', 'Postal Code',
       'Region', 'Category', 'Sub-Category', 'Product Name', 'Sales',
       'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [29]:
superstore_encoded['Ship Mode'].unique()

array(['Second Class', 'Standard Class', 'First Class', 'Same Day'],
      dtype=object)

In [30]:
le = LabelEncoder()

In [31]:
superstore_encoded['Ship Mode'] = le.fit_transform(superstore_encoded['Ship Mode'].values)

In [32]:
superstore_encoded['Ship Mode'].unique()

array([2, 3, 0, 1])

In [33]:
superstore_encoded['Segment'] = le.fit_transform(superstore_encoded['Segment'].values)
superstore_encoded['City'] = le.fit_transform(superstore_encoded['City'].values)
superstore_encoded['State'] = le.fit_transform(superstore_encoded['State'].values)
superstore_encoded['Postal Code'] = le.fit_transform(superstore_encoded['Postal Code'].values)
superstore_encoded['Region'] = le.fit_transform(superstore_encoded['Region'].values)
superstore_encoded['Category'] = le.fit_transform(superstore_encoded['Category'].values)
superstore_encoded['Sub-Category'] = le.fit_transform(superstore_encoded['Sub-Category'].values)
superstore_encoded['Product Name'] = le.fit_transform(superstore_encoded['Product Name'].values)

In [34]:
superstore_encoded.head()

,Row ID,Ship Mode,Segment,City,State,Postal Code,Region,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,2,0,194,15,217,2,0,4,386,261.9600,2,0.00,41.9136
1,2,2,0,194,15,217,2,0,5,839,731.9400,3,0.00,219.5820
2,3,2,1,266,3,517,3,1,10,1433,14.6200,2,0.00,6.8714
3,4,3,0,153,8,170,2,0,16,366,957.5775,5,0.45,-383.0310
4,5,3,0,153,8,170,2,1,14,573,22.3680,2,0.20,2.5164

In [35]:
feature_cols1= ['Sub-Category', 'Product Name','Quantity', 'Discount', 'Profit']

In [36]:
X= superstore_encoded[feature_cols1]
Y = superstore_encoded['Sales']

In [117]:
X_train,X_test,y_train,y_test = model_selection.train_test_split(X,Y,test_size=0.3,random_state=1)

In [118]:
reg = DecisionTreeRegressor()

In [119]:
reg = reg.fit(X_train, y_train)

In [120]:
y_pred = reg.predict(X_test)

In [121]:
from sklearn.metrics import r2_score

In [122]:
r2 = r2_score(y_test, y_pred)
print(r2)

0.5526668440424947

In [123]:
superstore_encoded['ProfitPercent'] = round(superstore_encoded.Profit/superstore_encoded.Sales,2)

In [124]:
feature_cols2= ['Sub-Category', 'Product Name','Quantity', 'Discount', 'Profit','ProfitPercent']

In [125]:
X= superstore_encoded[feature_cols2]
Y = superstore_encoded['Sales']

In [126]:
X_train,X_test,y_train,y_test = model_selection.train_test_split(X,Y,test_size=0.3,random_state=1)

In [128]:
reg = DecisionTreeRegressor()
reg = reg.fit(X_train, y_train)
y_pred = reg.predict(X_test)


r2 = r2_score(y_test, y_pred)
print(r2)

0.9165953032713667