In [1]:
# Agenda
# Python vs R
# IDES - Spyder/ Jupyter NB
# Basic objects and print fn
# Variables - data types
# Headings in Jupyter NB
# Data structures in Python
# Operations - Arithmatic
# Conditional op
# Logical op
# Indexes and how to traverse the data

In [2]:
# This is a cell
# This is where we wrte the code
# hash is used to comment
# ctrl + S - Save
# ctrl + / - comment multiple line (select the lines before)
# ctrl + Enter - execute the line
# shift + enter - execute the focused line and create another new cell below.

In [3]:
x = "Hello Python"

In [4]:
x

'Hello Python'

In [5]:
print(x)

Hello Python

In [6]:
y= "I am R"

In [7]:
y

'I am R'

In [8]:
print(y)

I am R

In [9]:
x
y
x

'Hello Python'

In [10]:
print(x)
print(y)

Hello Python
I am R

# Heading

## Data types in Python
- 1.Int
- 2.String (obj)
- 3.Float
- 4.Bool

In [11]:
#Int
i = 10
type(i)

int

In [12]:
# String
s = "batch 6A"
type(s)

str

In [13]:
# Float
f = 13.5
type(f)

float

In [14]:
# Boolean 
# True/False
b = True 
type(b)

bool

In [15]:
#how to get the working directory
import os

In [16]:
os.getcwd()

'C:\\Users\\Animesh.Parikshya'

In [17]:
#to set working directory
os.chdir("C:/Users/Animesh.Parikshya/Documents/IIM Classes/Data sets")

In [18]:
#Arithmatic operation
x= 5
y= 4

In [19]:
x+y

9

In [20]:
x-y

1

In [21]:
x/y

1.25

In [22]:
z = x*y
z

20

In [23]:
x**y

625

In [24]:
#Modulus
x%y

1

# Data Structure
- 1. Lists
- 2. Tuples
- 3. Dictionaries

# List

In [25]:
# Lists is a collection of object (they can be of different data type)
# Lists are created using []
# Lists are mutable/ you can make changes to the list

In [26]:
ls_marks = [43,44,24,45,32,13]

In [27]:
print(ls_marks)

[43, 44, 24, 45, 32, 13]

In [28]:
type(ls_marks)

list

In [29]:
len(ls_marks)

6

In [30]:
# Traversing 
# to access the elements of the list

In [31]:
# Get me the marks of 1st student
# Indexes - 0 to n-1(whr n is # of the elements) (Forward Indexes)
#         - -n to -1 (reverse Indexes)
# Indexer brackets = [  ]
ls_marks[0]

43

In [32]:
print(ls_marks[2])

24

In [33]:
# What is the mark of the last student
ls_marks[5]

13

In [34]:
ls_marks[len(ls_marks)-1]

13

In [35]:
ls_marks[-1]

13

In [36]:
# Get the marks of last student
ls_marks[3:6]
ls_marks[-3:]

[45, 32, 13]

In [37]:
ls_marks = [43,44,24,45,32,13,43,44,24,45]

In [38]:
# start from 4th element and go till end
ls_marks[3:]

[45, 32, 13, 43, 44, 24, 45]

In [39]:
# all the elements but for the last 3 elements
ls_marks[:-3]

[43, 44, 24, 45, 32, 13, 43]

In [40]:
# Method that we use in List
ls_marks.append(32)
ls_marks

[43, 44, 24, 45, 32, 13, 43, 44, 24, 45, 32]

In [41]:
#to remove a particular value
ls_marks.remove(32) # the 1st occurance will be removed
ls_marks

[43, 44, 24, 45, 13, 43, 44, 24, 45, 32]

In [42]:
# to see what are the method for a obj, write . after the object and click "Tab" and then add a () after that
# to know about method click between () and click "Shift +Tab"
ls_marks.insert(1,32)
ls_marks

[43, 32, 44, 24, 45, 13, 43, 44, 24, 45, 32]

In [43]:
ls_marks.pop()
ls_marks

[43, 32, 44, 24, 45, 13, 43, 44, 24, 45]

In [44]:
ls_marks.pop(-3)
ls_marks

[43, 32, 44, 24, 45, 13, 43, 24, 45]

In [45]:
# to see what are the method for a obj,
print(dir(ls_marks))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [46]:
ls_marks.sort()
ls_marks

[13, 24, 24, 32, 43, 43, 44, 45, 45]

In [47]:
ls_marks.append("Hello")
ls_marks

[13, 24, 24, 32, 43, 43, 44, 45, 45, 'Hello']

In [48]:
#ls_marks.sort() # error as the data type of element is not same
ls_marks

[13, 24, 24, 32, 43, 43, 44, 45, 45, 'Hello']

In [49]:
ls_marks.remove('Hello')
ls_marks

[13, 24, 24, 32, 43, 43, 44, 45, 45]

In [50]:
ls_str = ["hello", "bye"]

In [51]:
ls_str.sort()
ls_str

['bye', 'hello']

# Tubles

In [52]:
# Tuples is a collection of object (they can be of different data type)
# Tuples are created using ()
# Tuples are IM-mutable/ you can Not make changes to the list

In [53]:
tp_ad = (1,2,3,4,5,6,7,8)
tp_ad

(1, 2, 3, 4, 5, 6, 7, 8)

In [54]:
type(tp_ad)

tuple

In [55]:
# traverse
tp_ad[0]
tp_ad[:3]

(1, 2, 3)

In [56]:
#tp_ad[0] = 23  #tuple' object does not support item assignment

In [57]:
tp_ad.count(1)

1

In [58]:
tp_ad.index(8)

7

# Dictionaries

In [59]:
# Dictionaries is a collection of object (Key:value pair)
# Dictionaries are created using {}
# Dictionaries are mutable/ you can make changes to the list

In [60]:
dic_Sales = {'Store1': 10000, 'Store2': 15000, 'Store3': 12000}

In [61]:
type(dic_Sales)

dict

In [62]:
#dic_Sales[0] #this will not work
# Indexes in dictionaries are actually through the keys

In [63]:
dic_Sales['Store1']

10000

In [64]:
dic_Sales.keys()

dict_keys(['Store1', 'Store2', 'Store3'])

In [65]:
dic_Sales.values()

dict_values([10000, 15000, 12000])

In [66]:
dic_Sales["Store4"] = 13000
dic_Sales

{'Store1': 10000, 'Store2': 15000, 'Store3': 12000, 'Store4': 13000}

In [67]:
dic_Sales["Store1"] = 11000
dic_Sales

{'Store1': 11000, 'Store2': 15000, 'Store3': 12000, 'Store4': 13000}

In [68]:
dic_Sales["Store4"]= 13000
dic_Sales

{'Store1': 11000, 'Store2': 15000, 'Store3': 12000, 'Store4': 13000}

# Lopes in Pythons

In [69]:
# loop -task that want to repeat over and over again on various elements until there is logical end to it
# Iterabes :- strings, lists, tuples, dictinaries
# Iteratots :- temp object that heps you to iterate over the iterables

In [70]:
myName = 'Animesh'

In [71]:
myName

'Animesh'

In [72]:
for i in myName:
    print(i)   
# myName - iterable 
# i is iterator

A
n
i
m
e
s
h

In [73]:
for i in myName:
    if i != 'i':
        print(i)

A
n
m
e
s
h

In [74]:
ls_marks

[13, 24, 24, 32, 43, 43, 44, 45, 45]

In [75]:
for i in ls_marks:
    print(i)

13
24
24
32
43
43
44
45
45

In [76]:
randomText="Narendra Damodardas Modi (RSS, Modi), born 17 September 1950) is the 15th and current Prime Minister of India, in office since 26 May 2014.odi, a leader of the Bharatiya Janata Party was the Chief Minister of Gujarat from 2001 to 2014 and is the Member of Parliament from Varanasi. He led the BJP in the 2014 general election, which gave the party a majority in the Lok Sabha, the first for any political party in India since 1984.As the Chief Minister of Gujarat, Modi's economic policies were praised, while his administration was also criticised for failing to significantly improve the human development in the state, and for failing to prevent the 2002 Gujarat riots. A Hindu nationalist and member of the Rashtriya Swayamsevak Sangh, Modi,remains a controversial figure domestically and internationally. Modi was born on 17 September 1950, to a family of grocers in Vadnagar, Mehsana district, Bombay State (present-day Gujarat).Modi's family belonged to the Modh-Ghanchi-Teli (oil-presser) community,hich is categorised as an Other Backward Class by the Indian government.Modi was the third of six children born to Damodardas Mulchand (1915â€“1989) and Heeraben Modi (b. c. 1920).As a child, Modi helped his father sell tea at the Vadnagar railway station, and later ran a tea stall with his brother near a bus terminus.Modi completed his higher secondary education in Vadnagar in 1967, where a teacher described him as an average student and a keen debater, with an interest in theatre.Modi had an early gift for rhetoric in debates, and this was noted by his teachers and students.Modi preferred playing larger-than-life characters in theatrical productions, which has influenced his political image.At age eight, Modi discovered the Rashtriya Swayamsevak Sangh (RSS), and began attending its local shakhas (training sessions). There, Modi met Lakshmanrao Inamdar, popularly known as Vakil Saheb, who inducted him as an RSS balswayamsevak (junior cadet) and became his political mentor.While Modi was training with the RSS, he also met Vasant Gajendragadkar and Nathalal Jaghda, Bharatiya Jana Sangh leaders who were founding members of the BJP's Gujarat unit in 1980.Engaged while still a child to a local girl, Jashodaben Narendrabhai Modi, Modi rejected the arranged marriage at the same time he graduated from high school.The resulting familial tensions contributed to his decision to leave home in 1967.Modi spent the ensuing two years travelling across Northern and North-eastern India, though few details of where he went have emerged.In interviews, Modi has described visiting Hindu ashrams founded by Swami Vivekananda: the Belur Math near Kolkata, followed by the Advaita Ashrama in Almora and the Ramakrishna mission in Rajkot. Modi remained only a short time at each, since he lacked the required college education."

In [77]:
randomText.count('Modi')

20

In [78]:
k =0
for i in randomText:
    if i.isupper():         
        k = k + 1
k

124

In [79]:
# UDFs in Python
# List comprehension
# Map fucntion
# Lamda fucntion

In [80]:
a= [1,2,3,4,5]

In [81]:
for i in a:
    print(i**i)

1
4
27
256
3125

In [82]:
b = []
for i in a:
    b.append(i*i)
b

[1, 4, 9, 16, 25]

# List comprehension

In [83]:
# more brief/ more succintly 

c = [i**2 for i in a]
c

[1, 4, 9, 16, 25]

In [84]:
b = [-3,-2,-1,1,3,5]

In [85]:
c= []
for i in b:
    if i > 0:
        c.append(i**3)
c

[1, 27, 125]

In [86]:
c_lc = [i**3 for i in b if i >0]
c_lc

[1, 27, 125]

# UDF

In [87]:
# User defined Function
# reusable modules that does a specific task. it can be called from any place

In [88]:
def square_of_number(x):
    return x**2

In [89]:
square_of_number(3)

9

In [90]:
for i in b:
    print(square_of_number(i))

9
4
1
1
9
25

In [91]:
d= [square_of_number(i) for i in b]
d

[9, 4, 1, 1, 9, 25]

# Map

In [92]:
print(b)
ls_b = map(square_of_number, b)
print(list(ls_b))

[-3, -2, -1, 1, 3, 5]
[9, 4, 1, 1, 9, 25]

# lambda function

In [93]:
# unnames fn/it does not have an identity
# It is used inline
# lambda x: fn, iterable

In [94]:
ls_b1 = list(map(lambda x: x**2, b))
ls_b1

[9, 4, 1, 1, 9, 25]

In [95]:
# filter and reduce
# read this Homework

# FILTER

In [96]:
# syntax:

# filter(function, sequence)
# Parameters:
# function: function that tests if each element of a 
# sequence true or not.
# sequence: sequence which needs to be filtered, it can 
# be sets, lists, tuples, or containers of any iterators.
# Returns:
# returns an iterator that is already filtered.

In [97]:
fil_b = filter(lambda x: x >0, b)
fil_b
print(list(fil_b))

[1, 3, 5]

In [98]:
# function that filters vowels 
def fun(variable): 
    letters = ['a', 'e', 'i', 'o', 'u'] 
    if (variable in letters): 
        return True
    else: 
        return False

In [99]:
# sequence 
sequence = ['g', 'e', 'e', 'j', 'k', 's', 'p', 'r','a','i']

In [100]:
# using filter function 
filtered = filter(fun, sequence)

In [101]:
print('The filtered letters are:') 
for s in filtered: 
    print(s)

The filtered letters are:
e
e
a
i

In [102]:
# a list contains both even and odd numbers.  
seq = [0, 1, 2, 3, 5, 8, 13]

In [103]:
# result contains odd numbers of the list 
result = filter(lambda x: x % 2 != 0, seq) 
print(list(result))

[1, 3, 5, 13]

In [104]:
# result contains even numbers of the list 
result = filter(lambda x: x % 2 == 0, seq) 
print(list(result))

[0, 2, 8]

# REDUCE

In [105]:
# importing functools for reduce() 
import functools

In [106]:
b

[-3, -2, -1, 1, 3, 5]

In [107]:
#find the maximum in the list
print ("The maximum element of the list is : ",end="") 
red_b = functools.reduce(lambda x,y: x if x> y else y , b)
print(red_b)

The maximum element of the list is : 5

In [108]:
print ("The sum of the list elements is : ",end="") 
print (functools.reduce(lambda a,b : a+b,b))

The sum of the list elements is : 3

In [109]:
# importing operator for operator functions 
import operator

In [110]:
# using reduce to compute sum of list 
# using operator functions 
print ("The sum of the list elements is : ",end="") 
print (functools.reduce(operator.add,b))

The sum of the list elements is : 3

In [111]:
# using reduce to compute product 
# using operator functions 
print ("The product of list elements is : ",end="") 
print (functools.reduce(operator.mul,b))

The product of list elements is : -90

In [112]:
# using reduce to concatenate string 
print ("The concatenated product is : ",end="") 
print (functools.reduce(operator.add,["geeks","for","geeks"]))

The concatenated product is : geeksforgeeks

# python code to demonstrate summation  
## using reduce() and accumulate()

In [113]:
# importing itertools for accumulate() 
import itertools

In [114]:
b

[-3, -2, -1, 1, 3, 5]

In [115]:
# priting summation using accumulate() 
print ("The summation of list using accumulate is :",end="") 
print (list(itertools.accumulate(b,lambda x,y : x+y)))

The summation of list using accumulate is :[-3, -5, -6, -5, -2, 3]

In [116]:
# priting summation using reduce() 
print ("The summation of list using reduce is :",end="") 
print (functools.reduce(lambda x,y:x+y,b))

The summation of list using reduce is :3